nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

img {
  width: 75px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 25px;
  font-size: large;
}

li:hover {
  cursor: pointer;
}

.logout {
  padding: 5px;
  margin-left: auto;
}
