<nav>
  <img src="fullstack-java-logo.jpg">
  @if (userRole === "editor") {
    <ul>
      <li (click)="onPostsClick()">Posts</li>
      <li (click)="onDraftsClick()">Drafts</li>
      <li (click)="onNotificationsClick()">Notifications</li>
    </ul>
  }
  @if (userRole === "user") {
    <ul>
      <li (click)="onPostsClick()">Posts</li>
    </ul>
  }
  @if (userRole === "editor-in-chief") {
    <ul>
      <li (click)="onPostsClick()">Posts</li>
    </ul>
  }
  <div class="logout button-red" (click)="logout()">
    LOGOUT
  </div>
</nav>
