nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

img {
  width: 75px;
}

ul {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}
