<div class="comments-container">
  <form>
    <h3>{{comments.length}} Comments</h3>
    <textarea id="comment" name="comment" class="textarea" [(ngModel)]="comment" required placeholder="Place your comment here"></textarea>
    <button type="submit" (click)="onSubmit()" class="button-blue" [disabled]="comment === ''">Add Comment</button>
  </form>

  @if (comments.length > 0) {
    <div class="comments-list">
      @for (comment of comments.reverse(); track comment.id) {
        <div class="comment">
          <div class="comment-header">
            <p><strong>{{comment.createdBy}}</strong></p>
            <p class="comment-date">{{comment.createdAt | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div class="comment-content">
            <p>{{comment.comment}}</p>
          </div>
        </div>
      }
    </div>
  }

  <div></div>
</div>
