<div class="container">
 <nav>
   <app-navbar></app-navbar>
 </nav>
  <div class="posts-container">
    @if (role == "editor") {
      <mat-card appearance="outlined" class="add-post-card" (click)="onAddPostClick()">
        <span>ADD POST</span>
      </mat-card>
    }
    @for (post of posts; track post.id) {
      <app-post-card [id]="post.id"
                     [title]="post.title"
                     [content]="post.content"
                     [tags]="post.tags"
                     [author]="post.author"
                     [publishedDate]="post.publishedDate"
                     [isDraft]="post.draft"
      ></app-post-card>
    }
  </div>
</div>
