.posts-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
}

span {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
}

.add-post-card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  height: 250px
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.filter-input {
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.filter-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-button {
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}


