<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />

<div class="container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div class="form-container">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <label for="title">Title</label>
      <input class="input" type="text" id="title" formControlName="title">
      <label for="content">Content</label>
      <textarea id="content" formControlName="content"></textarea>
      <label>Tags</label>
      <div class="tags">
        <p>Place a space after each tag</p>
        <ul>
          @for (tag of draft.tags; track draft.tags.indexOf(tag)) {
            <li>{{ tag }} <span class="material-symbols-outlined" (click)="removeTag(tag)">close</span></li>
          }
          <input type="text" (keydown)="addTag($event)">
        </ul>
      </div>
      <div class="buttons">
        <button type="button" class="button-blue" (click)="updateDraft()">SAVE DRAFT</button>
        <button type="submit" class="button-blue" [disabled]="!postForm.valid">PUBLISH POST</button>
      </div>
    </form>
  </div>
</div>
