<div class="container">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <div class="form-container">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <label for="title">Title</label>
      <input class="input" type="text" id="title" formControlName="title">
      <label for="content">Content</label>
      <textarea id="content" formControlName="content"></textarea>
      <div class="buttons">
        <button type="button" class="button-blue" (click)="updateDraft()">SAVE DRAFT</button>
        <button type="submit" class="button-blue" [disabled]="!postForm.valid">PUBLISH POST</button>
      </div>
    </form>
  </div>
</div>
